<div class="pure-g">
    <div class="pure-u-1-5">
        <img ng-src="{{ $ctrl.movie.poster }}" width="100%"/>
    </div>

    <div class="movies-long-description pure-u-4-5">
        <h1>{{ $ctrl.movie.title }}</h1>

        <div class="movie-meta">
            <span>Year: {{ $ctrl.movie.year }}</span>
            <span>Runtime: {{ $ctrl.movie.runtime }} minutes</span>
            <span>Rating: {{ $ctrl.movie.rating }}</span>
        </div>

        <p>{{ $ctrl.movie.plot ? 'Seen' : 'Not Seen'}}</p>

        <a class="pure-button pure-button-primary"
           ng-click="$ctrl.markAsSeen()"
           ng-if="!$ctrl.movie.seen">
           Mark as seen
        </a>

    </div>
</div>
